@import "style/common/constants";
@import "style/common/typography";

.home-page {
  background-color: $catskill-white;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
// TODO
