@import "style/common/constants";
@import "style/common/typography";

.login-form {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  button {
    background-color: $black-russian;
    border: 1px solid $black-russian;
    border-radius: 8px;
    box-sizing: border-box;
    color: $white;
    font-family: "DM Sans Regular";
    height: 4vh;
    padding: 0;
    width: 16vw;
  }
}
