// Fonts
@font-face {
  font-family: DM Sans Regular;
  src: url("../../assets/fonts/DMSans-Regular.ttf");
}

@font-face {
  font-family: DM Sans Bold;
  src: url("../../assets/fonts/DMSans-Bold.ttf");
}
